<%= form_for @curso, url: cursos_path, html: { multipart: true } do |form| %>
  <% if curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(curso.errors.count, "error") %> prohibited this curso from being saved:</h2>

      <ul>
      <% curso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :curso_title %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary, id: :curso_summary %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :curso_content %>
  </div>

  <div class="field">
    <%= form.label :icon %>
    <%= form.file_field :icon %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
