<p id="notice"><%= notice %></p>

<h1>Apuntes</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Leccion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apuntes.each do |apunte| %>
      <tr>
        <td><%= apunte.content %></td>
        <td><%= apunte.leccion_id %></td>
        <td><%= link_to 'Show', apunte %></td>
        <td><%= link_to 'Edit', edit_apunte_path(apunte) %></td>
        <td><%= link_to 'Destroy', apunte, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apunte', new_apunte_path %>
